.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:8px;
}
button{
    width: 100px;
    height:70px;
}

#delete-row{
    display: flex;
    justify-content: space-between;
    gap:10px;
    margin:10px 0px;
}
#a-clear{
    flex-grow:1;
}
#clear{
    flex-grow:1;
}
#calculator{
    width:530px;
    height:800px;
    padding:50px;
    box-sizing: border-box;
    
}
